
    <script src="/public/vendor/js/bootstrap.min.js"></script>
    <script src="/public/vendor/js/jquery-3.4.1.min.js"></script>
    <script src="/public/vendor/js/popper.min.js"></script>
</body>
</html>