    <!-- Footer -->
    <footer class="bg-dark text-white text-center">
        Copyright &copy; 2018 Dev Connector
    </footer>


    <script src="/public/vendor/js/bootstrap.min.js"></script>
    <script src="/public/vendor/js/jquery-3.4.1.min.js"></script>
    <script src="/public/vendor/js/popper.min.js"></script>
</body>
</html>