<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand btn" href="/">DevProfile</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link btn" href="/api/profiles">Developers</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <% if(loggedIn != true){ %>
                    <li class="nav-item">
                        <a class="nav-link btn disabled" href="/api/users/posts">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" href="/api/users/register">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" href="/api/users/login">Login</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a href="/dev/dashboard" class="nav-link btn">dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="/dev/posts" class="nav-link btn">Post Feed</a>
                    </li>
                    <li class="nav-item">
                        <img
                            class="rounded-circle mt-2"
                            style="width: 25px;margin-right:5px"
                            src="/public/images/ui-avatar.png"
                            title="user avatar"
                        />
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" href="/logout">Logout</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
