    <%- include('../includes/header.ejs') %>
</head>

<body>

    <!-- navbar -->
    <%- include('../includes/navbar.ejs')  %>

    <!-- Landing -->
    <div class="landing">
        <div class="dark-overlay landing-inner text-light">
            <div class="container">
            <div class="row">
                <div class="col-md-12 text-center header">
                    <h1 class="display-3 ">Developer Profile
                    </h1>
                    <p class="lead"> Create a developer profile/portfolio, share posts and get help from other developers</p>
                    <hr />
                    <a href="/api/users/register" class="btn btn-lg btn-info mr-2">Sign Up</a>
                    <a href="/api/users/login" class="btn btn-lg btn-light">Login</a>
                </div>
            </div>
            </div>
        </div>
    </div>


    <%- include('../includes/footer.ejs') %>